html, body {
	margin:0;
	padding:0;
	border:0;
}

img {max-width: 100%;}

.header {
	top:0px;
	left:0px;
	padding-top:2px;x
	position:fixed;
	z-index: 50;
	/*height:40px;*/
	width:100%;
	background-color:#e0e2e2;
	border-bottom:solid 1px #c9cbcb;
}

.content {
	max-height:100%;
	overflow:auto;
	position:relative;
	padding-top:40px;	/* must be same height as header */
	padding-bottom: 60px; /* must be same height as the footer */
}  

#wrapper {
	max-height:100%;
	overflow:auto;
	position:relative;
	padding-top:40px;
	padding-bottom: 100px;
}

.footer {
	
	position: fixed;
	bottom:0px;
	left:0px;
	z-index: 50;
	margin-top: -60px; 
	height: 60px;
	width: 100%;
	background-color: #ede4eb;
	border-top:solid 1px #d2cad0;
} 

.footer ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.footer li {display:inline;}

.footer span {padding:4%;}

#button { 
	height:100%;
	position:absolute; 
}

#frame1 {
	z-index:5;
	position:absolute;
}

#frame2 {
	position:absolute;
}

#signup_box {
	margin-top:40%;
	margin-left:5%;
	margin-right: 5%;
	padding-top:3%;
	padding-bottom: 3%;
	z-index:50;
	background-color:#e0e2e2;
	/*border:solid 2px #ffffff;*/
	border-radius:10px;
}

#stripes {
	min-height: 100%;
	background-color:#4e4ef4;
	background-image:-webkit-gradient(
		linear, 
		0% 0%, 
		0% 100%, 
		from(#b0cdde), 
		color-stop(50%, #b0cdde), 
		color-stop(50%, #77a8bf), 
		to(#77a8bf));
	background-size: 50px 50px;
}

#map_canvas {
    margin: 0;
    padding: 60%;
    height: 100%;
    position:fixed; 
    top:0px;
}

/*.content {
	padding: 5px;
}*/