ul#messages {
	list-style-type:none;
	overflow:auto;
	margin:0px;
	padding:0px;
}

#messages li {
	margin-left:3px;
	border:1px solid  #000000;
	border-style:solid none solid none;
	background-color: #ffffff;
	padding:10px;
}
div#time { display:block; }
